body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.menu li a:hover {
    color: rgb(73, 207, 192);
    transform: scale(1.1);
}

.hamburger-menu {
    display: none;
}

/* Style the bars */
.bar {
    width: 25px;
    height: 3px;
    background-color: rgb(101, 167, 107);
    margin: 5px 0;
}

.menu a {
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(101, 167, 107);
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.menu li {
    margin-right: 20px;
    list-style: none;
    padding: 0;
    display: inline-block;
}

/* Media query to show/hide the hamburger menu */
@media (max-width: 768px) {
    .hamburger-menu {
        display: block;
        cursor: pointer;
    }

    .menu {
        display: none;
        flex-direction: column;
    }

    .menu.active {
        display: flex;
    }
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}