.team-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 30px;
    margin: 20px auto;
}
.team-member {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 250px;
}
.team-member:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.team-member img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
}
.team-member h3 {
    margin: 10px 0;
}
.team-member p {
    font-size: 0.9em;
    color: #bbb;
}

.about-us{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #222;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 30px;
    margin: 20px auto;
   
}