.form-input {
    display: block;
}

.form-error {
    color: red;
    text-align: center; 
}

.content {
    margin: 0 auto; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
}
