* {
    box-sizing: border-box;
}

#contact-devs a{
    text-decoration: none;
    color: white;
}

#contact-devs a:hover {
    color: rgb(222, 10, 10);
}

.custom-btn {
    background-color: red;
    border-color: red;
}

.custom-btn:hover {
    background-color: darkred;
    border-color: darkred;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 450px;
    margin: 20px auto;
    text-align: center;
}

#contact-devs .card {
    margin-bottom: 40px;
}

#contact-devs {
    flex: 0 0 250px;
    margin-left: 40px;
    margin-right: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    box-shadow: 0 4px 8px rgba(214, 214, 214, 0.599);
    border-radius: 10px;
    padding: 30px;
    margin: 20px auto;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 400px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgb(222, 10, 10);
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: rgb(32, 32, 33);
    color: white;
    transform: rotateY(180deg);
    padding-top: 120px;
}

.flip-card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.styled-form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #333;
    box-shadow: 0 4px 8px rgb(222, 10, 10);
    border-radius: 8px;
}

.styled-form .form-group {
    margin-bottom: 15px;
}

.styled-form label {
    display: block;
    margin-bottom: 5px;
}

.styled-form input, .styled-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.styled-form button {
    width: 100%;
    padding: 10px;
    background: red;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.styled-form button:hover {
    background: darkred;
}