/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


section#events {
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    margin-bottom: 20px;
    font-size: 2em;
    text-align: center;
}

.event {
 
    background-color: #333;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    color: white;
    box-shadow: 0 4px 8px rgba(214, 214, 214, 0.599);
}

.event h3 {
    margin-bottom: 10px;
 
}

.date {
    font-weight: bold;
  
}

.location {
    font-style: italic;

}

.description {
    margin-top: 10px;
}

#map {
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#map img {
    max-width: 100%;
    height: auto;
}

#participate {
    text-align: center;
}

#participate a{
    text-decoration: none;
    color: white;
}

#participate a:hover{
    color: rgb(222, 10, 10);;
}