/* General Reset */
* {
      box-sizing: border-box;
}


#events {
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    margin-bottom: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 2em;
    text-align: center;
}

.event {
 
    background-color: #333;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    color: white;
    box-shadow: 0 4px 8px rgba(214, 214, 214, 0.599);
}


.date {
    font-weight: bold;
  
}

.location {
    font-style: italic;

}

.description {
    margin-top: 10px;
}

#map {
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: center;
  
}

#map img {
    max-width: 100%;

}

#participate {
    text-align: center;
}



