main {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
   
}

main img {
  width: 100%;;

}

.forum {
    background-color: #222;
    color: #fff;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}


h1 {
    text-align: center;
    color: rgb(222, 10, 10);
}

.forum {
    margin-top: 20px;
}

.post-form {
    margin-bottom: 20px;
}

#postContent {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background: #444;
    color: #fff;
    border: none;
}

button {
    padding: 10px 20px;
    background: rgb(222, 10, 10);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    color: #fff;
    transform: scale(1.1);
}

.posts .post {
    background: #444;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #555;
}

.posts .post .content {
    margin-bottom: 5px;
}

.posts .post .timestamp {
    font-size: 12px;
    color: #bbb;
}

.like-button {
    background: none;
    border: none;
    color: rgb(222, 10, 10);
    cursor: pointer;
    font-size: 14px;
}


.likes-count {
    font-size: 14px;
    margin-left: 5px;
}
