
h1 {
    text-align: center;
    margin-bottom: 20px;
}

.forum-post {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    display: flex;
}

.forum-post h3 {
    color: #ff0000;
}

.forum-post p {
    margin-bottom: 10px;
}

.form-control {
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #000000;
    color: #fff;
    border: none;
}

.btn-primary:hover {
    background-color: #ff0000;
}