.quiz {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: 0 4px 8px rgb(222, 10, 10);
    padding: 20px;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.gallery-item {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border: 2px solid rgb(222, 10, 10);
    border-radius: 10px;
    transition: transform 0.2s;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-item:hover {
    transform: scale(1.05);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-img {
    max-width: 90%;
    max-height: 90%;
    border: 5px solid rgb(222, 10, 10);
    border-radius: 10px;
}



h1 {
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    color: rgb(222, 10, 10);
}