/*defining Star rating*/

.star-rating {
    direction: rtl;
    display: inline-flex;
  }
  
  .star-rating input[type="radio"] {
    display: none;
  }
  
  .star-rating label {
    font-size: 2rem;
    color: #ddd;
    cursor: pointer;
  }
  
  .star-rating input[type="radio"]:checked ~ label {
    color: #f5b301;
  }
  
  .star-rating label:hover,
  .star-rating label:hover ~ label {
    color: #f5b301;
  }
  
  .star-rating input[type="radio"]:focus:not(:checked) ~ label {
    color: #ddd;
  }
  
  /*creating a video icon*/
  /* Styles for image and video icon placement */
  .image-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Add some margin for spacing between sections */
  }
  
  .image-container img {
    max-width: 70%;
    margin-right: 10px;
  }
  
  .video-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #da0404;
    border-radius: 50%;
    text-decoration: none;
  }
  
  .video-icon {
    width: 0;
    height: 0;
    border-left: 15px solid white;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }

  .about-news a {
    color: #da0404;
    text-decoration: none;
   
   }