  
  /*creating a video icon*/
  /* Styles for image and video icon placement */
  .image-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px; 
  }
  
  .image-container img {
    max-width: 70%;
    margin-right: 10px;
  }
  
  .video-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color:rgb(222, 10, 10);
    border-radius: 50%;
    text-decoration: none;
  }
  
  .video-icon {
    width: 0;
    height: 0;
    border-left: 15px solid white;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }

  .about-news a {
    color: rgb(222, 10, 10);
    text-decoration: none;
   
   }

   .about-section img {
    width: 100%;
    box-shadow: 0 4px 8px rgb(222, 10, 10);
   }

   .stars span {
    font-size: 24px;
    cursor: pointer;
    color: #ddd;
}
.stars .checked {
    color: gold;
}
.row {
    display: flex;
    align-items: center;
    margin: 5px 0;
}
.side, .side.right {
    flex: 1;
}
.middle {
    flex: 3;
}
.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    border-radius: 25px;
}
.bar-star {
    height: 18px;
    border-radius: 25px;
}
.bar-5 { background-color: #8B0000; }  
.bar-4 { background-color: #4C1C1C; }  
.bar-3 { background-color: #2E2E2E; } 
.bar-2 { background-color: #556B2F; } 
.bar-1 { background-color: #8B4513; }  
/*Emojis*/
.horror-rating {
  display: flex;
  align-items: left;
  width: 300px;
  margin: 5px;
}
.horror-rating h5{
text-align: end;
}
.horror-rating input[type="radio"] {
  display: none;
}
.horror-rating label {
  font-size: 2rem;
  cursor: pointer;
  transition: transform 0.3s;
}
.horror-rating input[type="radio"]:checked + label {
  transform: scale(1.3);
}
.horror-rating input[type="radio"]:focus + label {
  outline: 2px solid #ddd;
}

